PORT=3000

MONGODB_READER_URI=mongodb+srv://reader_23IT234:PASSWORD@cluster0.xxxxx.mongodb.net/DB_23IT234

MONGODB_WRITER_URI=mongodb+srv://writer_23IT234:PASSWORD@cluster0.xxxxx.mongodb.net/DB_23IT234

SESSION_SECRET=your_secret_here

MSSV=23IT234
FULL_NAME=Bùi Hoàng Hải Sơn